<template>
  <div class="page">
    <div class="header">
      <div class="container_header">
        <db class="icon" />
        <div>Vuex</div>
      </div>
      <nav class="nav">
        <div @click="pageTo('/')">Cotações</div>
        <div class="active">Vuex</div>
      </nav>
    </div>
    <div class="body">
      <div class="display">{{ name }}</div>
      <div class="container_geral"
        style="justify-content: center">
        <template v-for="(name, index) in names">
          <div class="btn" :key="index"
            @click="changeName(name)">{{ name }}</div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Db from 'vue-material-design-icons/Database.vue';
export default {
  components: {
    Db    
  },
  data () {
    return {
      names: ['Sidnei', 'Simone', 'Thiago', 'Maine', 'William', 'Luciana']
    }
  },
  computed: mapState(['name']),
  methods: {
    ...mapActions(['change']),
    pageTo () {
      const self = this
      self.$router.push('/')
    },
    changeName (name) {
      const self = this
      self.change({ newName: name })
    }
  }
}
</script>

<style>
@import './../css/Vuex.css';
</style>
